<header class="saas-header bg-secondary">
	<h1 class="text-center text-light ">saas-layout</h1>
</header>
<nav class="nav nav-pills flex-column bg-dark saas-nav">
	{{#link-to "flex-layout" class="nav-link"}}
		flex
	{{/link-to}}
	{{#link-to "position-layout" class="nav-link"}}
		position
	{{/link-to}}
	{{#link-to "saas-layout" class="nav-link"}}
		saas
	{{/link-to}}
</nav>
<div class="saas-content bg-light saas-content">
	<p>
		this is saas layout.
	</p>
</div>