<header class="bg-secondary">
	<h1 class="text-center text-info">position-layout</h1>
</header>
<div class="position-layout">
	<nav class="nav nav-pills flex-column bg-dark">
		{{#link-to "flex-layout" class="nav-link"}}
			flex
		{{/link-to}}
		{{#link-to "position-layout" class="nav-link"}}
			position
		{{/link-to}}
		{{#link-to "saas-layout" class="nav-link"}}
			saas
		{{/link-to}}
	</nav>
	<div class="position-content bg-light"></div>
</div>